{%  extends 'base.html' %}
{% block content %}

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  {% for i in blog %}
  <tbody>
    <tr>
      <th scope="row"><a href="showDetails/{{i.id}}">{{i.id}}</a></th>
      <td><img src="{{i.image}}" width="150" height="100"></td>
      <td>{{i.title}}</td>
      <td>{{i.date}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>
{% endblock %}